.landing-page
  section.call-to-action
    h1 Create your own Democracy
    p lalala lalala lalala lalala alala alalalala alala aa a ala alala alala alala
    .actions
      button.started Get Started
  section.usage
    h1 DemocracyOS sirve para
    p lalala lalala lalala lalala alala alalalala alala aa a ala alala alala alala
    .cases
      img(src="https://placehold.it/350x250")
      .descri
        h2 Case of success
        p lalala lalala lalala lalala alala alalalala alala aa a ala
        button.started Explorar
  section.used-by
    h1 Used by communities in
    .logos
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
      img(src="https://placehold.it/100")
  section.para-todos
    h1 Is for everyone
    p lalala lalala lalala lalala alala alalalala alala aa a ala alala alala alala
    .features
      .feat
        img(src="https://placehold.it/200")
        h3 Propose
        p lalala lalala lalala lalala alala alalalala
      .feat
        img(src="https://placehold.it/200")
        h3 Propose
        p lalala lalala lalala lalala alala alalalala
      .feat
        img(src="https://placehold.it/200")
        h3 Propose
        p lalala lalala lalala lalala alala alalalala
      .feat
        img(src="https://placehold.it/200")
        h3 Propose
        p lalala lalala lalala lalala alala alalalala
  section.footer
    .tecno-dos
      p Tecnologia de
      img(src="https://placehold.it/50")
    p If you have questions or ideas to share, drop us a line at
    a(href="mailto:speak@democracyos.org") speak@democracyos.org
    .social
      a.github
      a.facebook
      a.twitter